site_name: e3 Documentation

repo_url: https://github.com/davidmpatterson/e3

site_url: https://davidmpatterson.github.io/e3

site_description: This is a template repository for Python projects that use uv for their dependency management.

site_author: David Patterson

edit_uri: edit/main/docs/

repo_name: davidmpatterson/e3

copyright: Maintained by <a href="https://davidmpatterson.com">davidmpatterson</a>.

theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - API Reference: modules.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src"]
          options:
            show_source: true
            show_root_heading: true
            show_signature: true
            docstring_style: google

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/davidmpatterson/e3
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/e3

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
